
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background-color:lightblue;
}

.frontpage{

}
.q1{
  text-align:center;
  font-size:50px;
  position:relative;
  top:25vh;
  color:blue;
}

.enter{
  color:white;
  width:300px;
  font-size:30px;
}
.pos{
  text-align:center;
  position:relative;
  top:30vh;
}
.pos2{
  text-align:center;
  position:relative;
  top:35vh;
}
.btn-primary{
  width:300px;
  padding:10px;
  border-radius: 200px;
}

.enter{
  text-decoration: none;
}
