
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
.container{
  width:85%;
  font-size:20px;
}
.creator{
  background-image:url(../images/background.png);
  background-repeat: repeat;
  background-position: center;
  background-size:cover;
}
.event{
  text-align: center;
  font-size:50px;
  position:relative;
  top:5vh;
}
#nameOfEvent{
}
#date{
  float:left;
}

#age{
  float:right;
  width:32%;
}
#ongoing{
}

.form-check{
  display:inline-block;
  margin-left:20px;
}
.form-check-input{
  margin-top:10px;
}
.makeAccount{
  padding-top:5vh;
  padding-bottom:10vh;
  color:black;

}
.inputs{
  position:relative;
  top:10vh;
}
#btnSubmit{
  width:200px;
  padding:10px;
  margin-top:25px;
  margin-bottom:100px;
}

.center{
  text-align:center;
}

.uploadPhoto{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  width:60%;
  top:15%;
  left:15%;
  margin-left:5%;
  border:black solid 1px;
  height:300px;
}

#myimg{
  position:relative;
  text-align:center;
  width:80%;
  margin-left:10%;
  margin-bottom:0;
  height:300px;
  margin-top:5%;
}
