#events{
  margin-top:5px;
}
.myEvent{
  max-width:100%;
  border:1px solid;
  border-radius:15px;
  margin-top:2px;
  margin-bottom:2px;
  text-decoration: none;
  color: inherit;
}
.eventImage {
  height: auto;
  width: 100%;
  border-radius: 2px;
}
.eventTime{
  /* display:inline; */
  position:relative;
  text-align:center;
  top:0%;
  left:50%;
}
.eventName{
  /* display:inline; */
  position:relative;
  text-align:left;
  left:50%;
}
.eventOrg{
  position:relative;
  text-align: left;
  font-size: 3em;
  left:5%;
  right: 50%;
  top:10px;
}
.eventVolunteers{
  position: relative;
  color: white;
  margin-top:20px;
  background-color: #af0710;
  text-align:right;
  padding-bottom:20px;
  top: 0%;
  right: 0%;
  left:75%;
}

.eventsLink{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
