#events{
  margin-top:5px;
}
.myEvent{
  max-width:100%;
  border:1px solid;
  border-radius:15px;
  margin-top:2px;
  margin-bottom:2px;
  text-decoration: none;
  color: inherit;
}
.eventTime{
  display:inline;
  position:relative;
  text-align:center;
  top:0;
  left:50%;
}
.eventName{
  display:inline;
  position:relative;
  text-align:center;
  top:0px;
  left:30%;

}
.eventOrg{
  position:relative;
  text-align:center;
  left:10%;
  top:10px;
  padding-top:10px;
}
.eventVolunteers{
  position:relative;
  margin-top:20px;
  text-align:center;
  padding-bottom:20px;
  left:10%;
}

.eventsLink{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
