* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
#txtEmail{
  font-size:30px;
}
#txtPassword{
  font-size:30px;
}
input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width:100%;
}
.makeAccount{
  padding-top:25vh;
  padding-bottom:50px;
}
.logo{
  text-align:center;
  max-width:200px;
  max-height:200px;
  position:relative;
  left:35%;
  top:10vh;
}
.btn-primary{
  width:100px;
  padding:10px;
  margin-top:50px;
}
