
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.redeemedHeading{
  font-size:50px;
  text-align:center;
  font-family: 'Shadows+Into+Light', cursive;
  letter-spacing: 2px;
  font-weight:bolder;
  padding-top:20px;
  color:black;
}
.couponImage{
  width:80%;
  margin-left:10%;
  margin-right:auto;
  margin-top:30px;
  max-height:300px;
}
.shelterlinkLogo{
  width:40%;
  height:50px;
  color:#B10100;
    margin-bottom:100px;
}
.smallLogos{
  width:10%;
  height:50px;
  margin-left:20px;
    margin-bottom:100px;
}
.logo{
  margin-right:auto;
  margin-left:28%;
  margin-top:6.5%;
}
.show{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-size:25px;
  margin-top:40px;
  color:#B10100;
  font-family: 'Quicksand', sans-serif;
}
.thanks{
  margin-top:30px;
  font-size:25px;
  width:70%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:#B10100;
  font-family: 'Quicksand', sans-serif;
}
.desc{
  margin-top:0;
  font-size:40px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width:80%;
  padding:20px;
  color:#B10100;
    font-family: 'Do Hyeon', sans-serif;
  text-decoration: underline;
}
.scan{
  font-size:20px;
  padding-top:20px;
  text-align:center;
  font-family: 'Quicksand', sans-serif;
}
.full{
  background: linear-gradient(to bottom left, #e6ffff 0%, #ffffff 100%);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width:100%;
  height:90%;
  margin-top:0px;
  padding-top:0px;
}

.icon-bar {
    margin-top:0px !important;
}
