
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    background-color: rgb(235, 235, 235);
}

#events{
  padding-top:5px;
  height:90%;
}
.dataTable {
  position: relative;
  left: 5%;
  right: 5%;
}
.myEvent {
  width: 94%;
  margin: 5px;
  text-decoration: none;
  color: inherit;
  background-color: white;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  border-radius: 15px 15px 15px 15px;
}
.myEvent:hover{
  filter: brightness(0.7);
}

.eventInformation {
  position: relative;
  width: 100%;
  height:565px;
}
.eventImageDiv {
  width:100%;
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  overflow: hidden;
}
.eventImage {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height:400px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;

}
.inlineboi{
  margin-bottom:20px;
}
.eventName {
  position:relative;
  top: -20px;
  left:20%;
  font-size:40px;
  font-family:'Advent+Pro',sans-serif;
  color:#af0710;
  width:80%;
  word-wrap: break-word;
  font-weight: bold;
}
.eventTime{
  position:relative;
  text-align: left;
  top: -30px;
  left:20%;
  font-size:22.5px;
  width:90%;
  word-wrap: break-word;
  color:#5b5d60;
  font-family:'Work+Sans',sans-serif;
}
.eventOrg {
  position:relative;
  top: -36px;
  left:20%;
  font-size:20px;
  width:90%;
  word-wrap: break-word;
  color:#5b5d60;
  font-family:'Work+Sans',sans-serif;
}

.eventVolunteers {
  position: relative;
  margin-top:-660px;
  left:0px;
  width: 100%;
  word-wrap: break-word;
  z-index:100;
  color:white;
  font-size:25px;
  font-family:'Work+Sans',sans-serif;
  text-shadow: 3px 3px 3px rgba(0,0,0,.6), 15px 15px 15px rgba(0,0,0,0.2);
  padding:10px;
  border-radius: 15px;
}
#volunteerNum {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 3em;
}
.tagsDiv {
  height: 30px;
  width: 90%;
  left: 5%;
  padding-bottom:100px;
}
.eventTagTable {
  width: 100%;
  overflow-x: scroll;
}
.eventsLink{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
.easyDate{
  color:darkblue;
  position:relative;
  top:-140px;
  width:20%;
  text-align:center;
  font-size:40px;
  font-family:'Work+Sans',sans-serif;
}
.eventTag {
  text-align: center;
  border-radius:50px;
  width:95%;
  margin-left:auto;
  margin-right:auto;
  border-radius:20px;
  padding-left:20px;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:20px;
  background-color: #af0710;
  color: white;
  width: 95%;
  height:100px;
  margin-right:10px;
  margin-bottom:20px;
}
.tags{
  position:relative;
  font-family:'Work+Sans',sans-serif;
  width:95%;
  margin-left:20px;
  text-align:left;
  top:465px;
  color:black;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y:hidden;
}

.nope{
  display:none;
}
