
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
.uploadPhoto{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width:200px;
  border-radius:50%;
  border:solid;
  height:200px;
  margin-top:10%;
}
#username{
  text-align:center;
}
#links{
  text-align:center;
}
#myimg{
  position:absolute;
  margin-left:37.5%;
  text-align:center;
  width:200px;
  border-radius:50%;
  border:solid;
  height:200px;
  margin-top:10%;
}
.settings{
  height:30px; 
  width:30px;
  position:absolute;
  right:10px;
  top:10%;
}
