
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background-color:lightblue;
}

.frontpage{
  background-color:#ba3b21;
  height:100%;
  width:100%;
}
.q1{
  text-align:center;
  font-size:50px;
  position:relative;
  top:25vh;
  color:blue;
}

.enter{
  color:white;
  width:300px;
  font-size:30px;
}
.pos{
  text-align:center;
  position:relative;
  top:30vh;
}
.pos2{
  text-align:center;
  position:relative;
  top:35vh;
}
.btn-primary{
  width:300px;
  padding:10px;
  border-radius: 200px;
}

.enter{
  text-decoration: none;
}
.blackleft{
  position:absolute;
  bottom:0;
  left:0;
  background-color:#27272E;
  width:40%;
  height:10%;
}
.blackright{
  position:absolute;
  bottom:0;
  right:0;
  background-color:#27272E;
  width:40%;
  height:10%;
}
.middle{
  position:absolute;
  bottom:0;
  left:39%;
  margin-left:auto;
  margin-right:auto;
  background-color:#4F4F5C;
  width:22%;
  height:10%;
}
.blogo{
  margin-top:20%;
  width:100%;
  height:40%;
  margin-left:auto;
  margin-right:auto;
  color:white;
}
