* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
#txtEmail{
  font-size:25px;
}
#txtPassword{
  font-size:25px;
  margin-bottom:10vh;
}
.container{
  width:85%;
  text-align:center;
}
input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width:100%;
  color:white;
}
::placeholder{
  position:relative;
  bottom:5px;
  color:white;
}
.makeAccount{
  padding-top:12vh;
  padding-bottom:5vh;
  text-decoration: none;
}
.logo{
  text-align:center;
  max-width:60vh;
  max-height:60vh;
  position:relative;
  top:5vh;
}
.btn-primary{
  width:50vh;
  padding:15px;
  margin-top:-20px;
  border-radius:300px;
  background-color: #FF5C5C !important;
  border-color:#FF5C5C !important;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
}

.account{
  color:white;
  position:relative;
  font-size:22.5px;
  margin-top:50px;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
a:hover{
  color:white;
}
